body {
    height: 160vh;
}

.project-container {
    position: absolute; 
    width: 50%;
    top: 45%;
    left: 25%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.project-intro {
    position: relative;
    color: white;
}
#header {
    position: relative;
    left: 22.5%;
    font-size: 76px;
}
#para {
    font-size: 24px;
}

.projectCard1-container {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px gray solid;
    top: 120%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.cardProj1-body {
    position: relative;
    height: 500px;

}
#projPac {
    position: absolute;
    height: 200px;
    left: 50px;
    top: 50px;
}
.cardProj1-title {
    position: relative;
    color: white;
    top: 300px;
    font-size: 36px;
    margin-left: 5px;
    margin-right: 5px;
}
.cardProj1-text {
    position: relative;
    color: white;
    top: 300px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn {
    position: relative;
    top: 295px;
    left: 35%;
    margin-bottom: 5px;
}

.projectCard2-container {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px gray solid;
    top: 120%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.cardProj2-body {
    position: relative;
    height: 500px;
}
#projBus {
    position: absolute;
    height: 200px;
    left: 35px;
    top: 50px;
}
.cardProj2-title {
    position: relative;
    color: white;
    top: 300px;
    font-size: 36px;
    margin-left: 5px;
    margin-right: 5px;
}
.cardProj2-text {
    position: relative;
    color: white;
    top: 300px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn {
    position: relative;
    top: 295px;
    left: 35%;
    margin-bottom: 5px;
}